## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.66,50,20,26.46,few clouds
1,1,Evensk,RU,61.9500,159.2333,11.21,82,100,5.46,overcast clouds
2,2,Malatya,TR,38.5000,38.0000,33.85,60,0,4.61,clear sky
3,3,Bengkulu,ID,-3.8004,102.2655,76.75,83,100,4.09,overcast clouds
4,4,Biak,ID,-0.9131,122.8766,79.90,76,8,1.92,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Bengkulu,ID,-3.8004,102.2655,76.75,83,100,4.09,overcast clouds
4,4,Biak,ID,-0.9131,122.8766,79.90,76,8,1.92,clear sky
5,5,Luganville,VU,-15.5333,167.1667,81.45,77,100,10.11,light rain
6,6,Hobart,AU,-42.8794,147.3294,66.11,69,20,9.22,few clouds
7,7,Cidreira,BR,-30.1811,-50.2056,68.34,86,0,11.27,clear sky
9,9,Kapaa,US,22.0752,-159.3190,82.38,74,20,4.00,few clouds
15,15,Vaini,TO,-21.2000,-175.2000,78.96,83,75,10.36,light intensity shower rain
16,16,Yulara,AU,-25.2406,130.9889,78.64,22,86,6.91,overcast clouds
17,17,Getulio Vargas,UY,-32.6796,-53.5494,71.96,67,0,7.72,clear sky
20,20,Sur,OM,22.5667,59.5289,77.13,68,9,8.66,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                345
City                   345
Country                343
Lat                    345
Lng                    345
Max Temp               345
Humidity               345
Cloudiness             345
Wind Speed             345
Current Description    345
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                343
City                   343
Country                343
Lat                    343
Lng                    343
Max Temp               343
Humidity               343
Cloudiness             343
Wind Speed             343
Current Description    343
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bengkulu,ID,76.75,overcast clouds,-3.8004,102.2655,
4,Biak,ID,79.90,clear sky,-0.9131,122.8766,
5,Luganville,VU,81.45,light rain,-15.5333,167.1667,
6,Hobart,AU,66.11,few clouds,-42.8794,147.3294,
7,Cidreira,BR,68.34,clear sky,-30.1811,-50.2056,
9,Kapaa,US,82.38,few clouds,22.0752,-159.3190,
15,Vaini,TO,78.96,light intensity shower rain,-21.2000,-175.2000,
16,Yulara,AU,78.64,overcast clouds,-25.2406,130.9889,
17,Getulio Vargas,UY,71.96,clear sky,-32.6796,-53.5494,
20,Sur,OM,77.13,clear sky,22.5667,59.5289,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
# Checking to see if there is any missing data now
#hotel_df.count()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bengkulu,ID,76.75,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,Biak,ID,79.90,clear sky,-0.9131,122.8766,Penginapan Kim
5,Luganville,VU,81.45,light rain,-15.5333,167.1667,The Espiritu Hotel
6,Hobart,AU,66.11,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
7,Cidreira,BR,68.34,clear sky,-30.1811,-50.2056,Hotel Castelo

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))